<!doctype html>
<html lang="en" data-ng-app="indexSegmentApp">
<head>
  <meta charset="utf-8">
  <title>Index segment test</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/view.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        //google.setOnLoadCallback(drawChart);
        function drawChart() {
            var chartData = google.visualization.arrayToDataTable([
              ['Year', 'Sales', 'Expenses'],
              ['2004', 1000, 400],
              ['2005', 1170, 460],
              ['2006', 660, 1120],
              ['2007', 1030, 540]
            ]);

            var options = {
                title: 'Index Segment'
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(chartData, options);
        }
    </script>
    

</head>
<body data-ng-controller="IndexCtrl">
    
   
    <p> Index type is: {{indexType }}</p>


    <div id="form_container">

        <h1><a>Segment Form</a></h1>
        <form id="indexForm" class="appnitro" method="post" action="">
            <div class="form_description">
                <h2>Segment Form</h2>
                <p>Enter segment data</p>
            </div>
            <ul>

                <li id="li_7">
                    <label class="description" for="element_7">Index type </label>
                    <div>
                        <select data-ng-model="indexType" class="element select medium" id="element_7" name="element_7">
                            <option value="1">Triangular</option>
                            <option value="2">Trapezoidal</option>
                            <option value="3">Third option</option>

                        </select>
                    </div>
                    <p class="guidelines" id="guide_7"><small>Select index type</small></p>
                </li>
                <li id="li_1">
                    <label class="description" for="element_1">Initial Velocity </label>
                    <div>
                        <input data-ng-model="v0" id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value="" />
                    </div>
                    <p class="guidelines" id="guide_1"><small>Initial velocity of the segment</small></p>
                </li>
                <li id="li_2">
                    <label class="description" for="element_2">Final Velocity </label>
                    <div>
                        <input data-ng-model="vf" id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value="" />
                    </div>
                    <p class="guidelines" id="guide_2"><small>Final Velocity of the segment</small></p>
                </li>
                <li id="li_3">
                    <label class="description" for="element_3">Initial Position </label>
                    <div>
                        <input data-ng-model="s0" id="element_3" name="element_3" class="element text medium" type="text" maxlength="255" value="" />
                    </div>
                </li>
                <li id="li_4">
                    <label class="description" for="element_4">Final Position </label>
                    <div>
                        <input data-ng-model="sf" id="element_4" name="element_4" class="element text medium" type="text" maxlength="255" value="" />
                    </div>
                </li>
                <li id="li_6">
                    <label class="description" for="element_6">Initial Time </label>
                    <div>
                        <input data-ng-model="t0" id="element_6" name="element_6" class="element text medium" type="text" maxlength="255" value="" />
                    </div>
                </li>
                <li id="li_5">
                    <label class="description" for="element_5">Final Time </label>
                    <div>
                        <input data-ng-model="tf" id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value="" />
                    </div>
                </li>

                <li class="buttons">
                    <input type="hidden" name="form_id" value="908881" />

                    <input onclick="drawChart()" id="saveForm" class="button_text" type="submit" name="submit" value="Draw segment" />
                </li>
            </ul>
        </form>
        <div id="footer">
            Generated by <a href="http://www.phpform.org">pForm</a>
        </div>
    </div>

    <hr/>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>



</body>
</html>
